
        <div class="main">
 
            <div class="initial">
                <div class="d-none d-md-block">
                    <div class="row upper_main ">
                        <div class="col-md-9 main_panel">
                            <a href="" class="art_link">
                                <img src="" alt="" class="upper_img">
                                <div class="text-block all_titles">
                                    <p></p>
                                </div>
                            </a>
                            <a href="" class="upper_categories all_categories"></a>
                        </div>
    
                    <div class="col-md-3 thumbnails" >
                        <div class="row thumbs">
                            <a href="" class="art_link">
                                <img src="" alt="" class="upper_img">
                                <div class="sec-text-block all_titles">
                                    <p></p>
                                </div>
                            </a>
                            <a href="" class="upper_categories up_s all_categories"></a>
                        </div>
                        <div class="row thumbs ">
                            <a href=""class="art_link">
                            <img src="" alt="" class="upper_img">
                                <div class="sec-text-block all_titles">
                                    <p></p>
                                </div>
                            </a>
                            <a href="" class="upper_categories up_s all_categories"></a>
                        </div>
                        <div class="row thumbs ">
                            <a href=""class="art_link">
                                <img src="" alt="" class="upper_img">
                                <div class="sec-text-block all_titles">
                                    <p></p>
                                </div>
                            </a>
                            <a href="" class="upper_categories up_s all_categories"></a>
                        </div>
                    </div>
                </div>
                </div>

                <div class="d-md-none d-xs-block">
                    <div class="row upper_main_sm" >
                    
                        <div class="upper_main_sm_col">
                            <div class="upper_main_sm_img">
                                <a href="" class="img_link"><img src="" alt="" class="placeholder"></a>
                            </div>
                            <a href="" class="upper_categories_sm all_categories"></a>

                            <div class="row row_f_l">
                                <button class="favourite big_favourite" ><i  class="far fa-heart"></i></button>
                                <button class="like big_like" ><i class="far fa-thumbs-up"></i></button>
                                <span class="like_counter"></span>
                            </div>

                            <div class="upper_main_sm_text all_titles">
                                <a href="" class="art_link"><p></p></a>
                            </div>
                            
                        </div>
                    
                        <div class="upper_main_sm_col">
                            <div class="upper_main_sm_img">
                                <a href="" class="img_link"><img src="" alt="" class="placeholder"></a>
                            </div> 
                            <a href="" class="upper_categories_sm all_categories"></a>       
                            
                            <div class="row row_f_l">
                                <button class="favourite big_favourite" ><i  class="far fa-heart"></i></button>
                                <button class="like big_like" ><i class="far fa-thumbs-up"></i></button>
                                <span class="like_counter"></span>
                            </div>
                            
                            <div class="upper_main_sm_text all_titles">
                                <a href="" class="art_link"><p></p></a>
                            </div>
                            
                        </div>
                        <div class="upper_main_sm_col">
                            <div class="upper_main_sm_img">
                                <a href="" class="img_link"><img src="" alt="" class="placeholder"></a>
                            </div>     
                            <a href="" class="upper_categories_sm all_categories"></a>      
                            
                            <div class="row row_f_l">
                                <button class="favourite big_favourite" ><i  class="far fa-heart"></i></button>
                                <button class="like big_like" ><i class="far fa-thumbs-up"></i></button>
                                <span class="like_counter"></span>
                            </div>
                            
                            <div class="upper_main_sm_text all_titles">
                                <a href="" class="art_link"><p></p></a>
                            </div>
                            
                        </div>
                        <div class="upper_main_sm_col">
                            <div class="upper_main_sm_img">
                                <a href="" class="img_link"><img src="" alt="" class="placeholder"></a>
                            </div>  
                            <a href="" class="upper_categories_sm all_categories"></a>   
                            
                            <div class="row row_f_l">
                                <button class="favourite big_favourite" ><i  class="far fa-heart"></i></button>
                                <button class="like big_like" ><i class="far fa-thumbs-up"></i></button>
                                <span class="like_counter"></span>
                            </div>
                            
                            <div class="upper_main_sm_text all_titles">
                                <a href="" class="art_link"><p></p></a>
                            </div>
                            
                        </div>
                </div>
                </div>

                <div class="row latest_rows lr">
                    
                    <div class="col-md-7 asymetric_col_big">
                        <div class="row img_row">
                            <a href="" class="img_link"><img src="" alt="" class="placeholder"></a>
                            <a href="" class="category all_categories"></a>
                        </div>

                        <div class="row row_f_l">
                            <button class="favourite big_favourite"><i  class="far fa-heart"></i></button>
                            <button class="like big_like" ><i class="far fa-thumbs-up"></i></button>
                            <span class="like_counter " ></span>
                        </div>

                        <div class="row row_inside all_titles">
                            <a href="" class="art_link"><p></p></a>
                        </div>
                    </div>

                    <div class="col-md-4 asymetric_col_small">
                        
                        <div class="row img_row">
                            <a href=""class="img_link"><img src="" alt="" class="placeholder first_img"></a>
                            <a href="" class="category first_cat all_categories"></a>

                            <!-- <button class="favourite small_favourite" data-toggle="tooltip" data-placement="left" title="Προσθήκη στα Αγαπημένα"><i class="far fa-heart"></i></button> -->
                        </div>

                        <div class="row row_f_l">
                            <button class="favourite small_favourite" ><i class="far fa-heart"></i></button>
                            <button class="like small_like" ><i class="far fa-thumbs-up"></i></button>
                            <span class="like_counter lcs"></span>
                        </div>

                        <div class="row row_inside all_titles">
                            <a href="" class="art_link"><p></p></a>
                        </div>
                    
                        <div class="row img_row">
                            <a href=""class="img_link"><img src="" alt="" class="placeholder sec_img"></a>
                            <a href="" class="category sec_cat all_categories"></a>

                            <!-- <button class="favourite small_favourite" data-toggle="tooltip" data-placement="left" title="Προσθήκη στα Αγαπημένα"><i class="far fa-heart"></i></button> -->
                        </div>

                        <div class="row row_f_l">
                            <button class="favourite small_favourite" ><i class="far fa-heart"></i></button>
                            <button class="like small_like" ><i class="far fa-thumbs-up"></i></button>
                            <span class="like_counter lcs"></span>
                        </div>

                        <div class="row row_inside all_titles">
                            <a href="" class="art_link"><p></p></a>
                        </div>                

                    </div>                    
                    
                </div> 

                <div class="row latest_rows lr">
                    

                    <div class="col-md-4 asymetric_col_small">
                        
                        <div class="row img_row">
                            <a href=""class="img_link"><img src="" alt="" class="placeholder first_img"></a>
                            <a href="" class="category first_cat all_categories"></a>

                            <!-- <button class="favourite small_favourite" data-toggle="tooltip" data-placement="left" title="Προσθήκη στα Αγαπημένα"><i  class="far fa-heart"></i></button> -->
                        </div>
                        <!-- <a href="" class="category first_cat"></a> -->

                        <div class="row row_f_l">
                            <button class="favourite small_favourite" ><i class="far fa-heart"></i></button>
                            <button class="like small_like" ><i class="far fa-thumbs-up"></i></button>
                            <span class="like_counter lcs"></span>
                        </div>

                        <div class="row row_inside all_titles">
                            <a href="" class="art_link"><p></p></a>
                        </div>
                    
                        <div class="row img_row">
                            <a href=""class="img_link"><img src="" alt="" class="placeholder sec_img"></a>
                            <a href="" class="category sec_cat all_categories"></a>

                            <!-- <button class="favourite small_favourite" data-toggle="tooltip" data-placement="left" title="Προσθήκη στα Αγαπημένα"><i  class="far fa-heart"></i></button> -->
                        </div>

                        <div class="row row_f_l">
                            <button class="favourite small_favourite" ><i class="far fa-heart"></i></button>
                            <button class="like small_like" ><i class="far fa-thumbs-up"></i></button>
                            <span class="like_counter lcs"></span>
                        </div>

                        <div class="row row_inside all_titles">
                            <a href="" class="art_link"><p></p></a>
                        </div>                

                    </div>    

                    <div class="col-md-7 asymetric_col_big">
                        <div class="row img_row">
                            <a href=""class="img_link"><img src="" alt="" class="placeholder"></a>
                            <a href="" class="category all_categories"></a>

                            <!-- <button class="favourite big_favourite" data-toggle="tooltip" data-placement="left" title="Προσθήκη στα Αγαπημένα"><i  class="far fa-heart"></i></button> -->
                        </div>

                        <div class="row row_f_l">
                            <button class="favourite big_favourite" ><i  class="far fa-heart"></i></button>
                            <button class="like big_like" ><i class="far fa-thumbs-up"></i></button>
                            <span class="like_counter"></span>
                        </div>
                        
                        <div class="row row_inside all_titles">
                            <a href="" class="art_link"><p></p></a>
                        </div>
                    </div>

                                    
                    
                </div> 

                <div class="row latest_rows lr">
                    
                    <div class="col-md-7 asymetric_col_big">
                        <div class="row img_row">
                            <a href=""class="img_link"><img src="" alt="" class="placeholder"></a>
                            <a href="" class="category all_categories"></a>

                            <!-- <button class="favourite big_favourite" data-toggle="tooltip" data-placement="left" title="Προσθήκη στα Αγαπημένα"><i  class="far fa-heart"></i></button> -->
                        </div>
                        
                        <div class="row row_f_l">
                            <button class="favourite big_favourite" ><i  class="far fa-heart"></i></button>
                            <button class="like big_like" ><i class="far fa-thumbs-up"></i></button>
                            <span class="like_counter lcs"></span>
                        </div>

                        <div class="row row_inside all_titles">
                            <a href="" class="art_link"><p></p></a>
                        </div>
                    </div>

                    <div class="col-md-4 asymetric_col_small">
                        
                        <div class="row img_row">
                            <a href=""class="img_link"><img src="" alt="" class="placeholder first_img"></a>
                            <a href="" class="category first_cat all_categories"></a>

                            <!-- <button class="favourite small_favourite" data-toggle="tooltip" data-placement="left" title="Προσθήκη στα Αγαπημένα"><i  class="far fa-heart"></i></button> -->
                        </div>
                        <!-- <a href="" class="category first_cat"></a> -->

                        <div class="row row_f_l">
                            <button class="favourite small_favourite" ><i class="far fa-heart"></i></button>
                            <button class="like small_like" ><i class="far fa-thumbs-up"></i></button>
                            <span class="like_counter lcs"></span>
                        </div>

                        <div class="row row_inside all_titles">
                            <a href="" class="art_link"><p></p></a>
                        </div>
                    
                        <div class="row img_row">
                            <a href=""class="img_link"><img src="" alt="" class="placeholder sec_img"></a>
                            <a href="" class="category sec_cat all_categories"></a>

                            <!-- <button class="favourite small_favourite" data-toggle="tooltip" data-placement="left" title="Προσθήκη στα Αγαπημένα"><i  class="far fa-heart"></i></button> -->
                        </div>

                        <div class="row row_f_l">
                            <button class="favourite small_favourite" ><i class="far fa-heart"></i></button>
                            <button class="like small_like " ><i class="far fa-thumbs-up"></i></button>
                            <span class="like_counter lcs"></span>
                        </div>

                        <div class="row row_inside all_titles">
                            <a href="" class="art_link"><p></p></a>
                        </div>                

                    </div>                    
                    
                </div> 

                <div class="row latest_rows lr">
                    

                    <div class="col-md-4 asymetric_col_small">
                        
                        <div class="row img_row">
                            <a href=""class="img_link"><img src="" alt="" class="placeholder first_img"></a>
                            <a href="" class="category first_cat all_categories"></a>
                            <!-- <button class="favourite small_favourite" data-toggle="tooltip" data-placement="left" title="Προσθήκη στα Αγαπημένα"><i  class="far fa-heart"></i></button> -->
                        </div>
                        <!-- <a href="" class="category first_cat"></a> -->

                        <div class="row row_f_l"style=" margin:auto;width:100%;">
                            <button class="favourite small_favourite" ><i class="far fa-heart"></i></button>
                            <button class="like small_like" ><i class="far fa-thumbs-up"></i></button>
                            <span class="like_counter lcs"></span>
                        </div>

                        <div class="row row_inside all_titles">
                            <a href="" class="art_link"><p></p></a>
                        </div>
                    
                        <div class="row img_row">
                            <a href=""class="img_link"><img src="" alt="" class="placeholder sec_img"></a>
                            <a href="" class="category sec_cat all_categories"></a>

                            <!-- <button class="favourite small_favourite" data-toggle="tooltip" data-placement="left" title="Προσθήκη στα Αγαπημένα"><i  class="far fa-heart"></i></button> -->
                        </div>

                        <div class="row row_f_l">
                            <button class="favourite small_favourite" ><i class="far fa-heart"></i></button>
                            <button class="like small_like" ><i class="far fa-thumbs-up"></i></button>
                            <span class="like_counter lcs"></span>
                        </div>

                        <div class="row row_inside all_titles">
                            <a href="" class="art_link"><p></p></a>
                        </div>                

                    </div>    

                    <div class="col-md-7 asymetric_col_big">
                        <div class="row img_row">
                            <a href=""class="img_link"><img src="" alt="" class="placeholder"></a>
                            <a href="" class="category all_categories"></a>

                            <!-- <button class="favourite big_favourite" data-toggle="tooltip" data-placement="left" title="Προσθήκη στα Αγαπημένα"><i  class="far fa-heart"></i></button> -->
                        </div>

                        <div class="row row_f_l">
                            <button class="favourite big_favourite" ><i  class="far fa-heart"></i></button>
                            <button class="like big_like" ><i class="far fa-thumbs-up"></i></button>
                            <span class="like_counter"></span>
                        </div>
                        
                        <div class="row row_inside all_titles">
                            <a href="" class="art_link"><p></p></a>
                        </div>
                    </div>

                                    
                    
                </div> 
            </div>

            

            <div class="container" style="margin-bottom: 40px;">
                <div class="row">
                    <button type="button" class="btn btn-link all_articles">Άλλες εκδηλώσεις <i class="fas fa-caret-down"></i></button>
                </div>
                <div class="row other_art" style="display: none;">
                    <div class="row latest_rows"> 
                        {{#each rest}}
                            <div class="col-md-4 latest_cols">
                                <div class="row img_row">
                                    <a href="/articles/{{this.event_id}}" class="img_link"><img src="/img/{{this.image}}" alt="" class="placeholder"></a>
                                    <a href="/category/{{this.category}}" class="upper_categories_sm" style="border-bottom: 3px solid {{color}};">{{category}}</a>
                                </div>

                                <div class="row row_f_l">
                                    <button class="favourite big_favourite" event-id="{{this.event_id}}" data-toggle="tooltip" title="Προσθήκη στα Αγαπημένα"><i  class="far fa-heart"></i></button>
                                    <button class="like big_like" event-id="{{this.event_id}}"><i class="far fa-thumbs-up"></i></button>
                                    <span class="like_counter"event-id="{{this.event_id}}"></span>
                                </div>

                                <div class="row row_inside" style="border-top: 1px solid #d3d3d3;">
                                    <a href="/articles/{{this.event_id}}" class="art_link"><p>{{this.title}}</p></a>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>

        </div>

        {{!-- ΠΕΡΝΑΝΕ ΟΛΑ ΤΑ ΔΕΔΟΜΕΝΑ ΣΕ ΕΝΑΝ ΠΙΝΑΚΑ ΚΑΙ ΜΕΤΑ ΤΑ ΤΟΠΟΘΕΤΕΙ --}}
        <script>
            const all_events = [];
            i = 0;
             {{#each events}}
                all_events[i] = {
                    event_id: {{event_id}},
                    title: `{{{title}}}`,
                    image: "{{image}}",
                    category: "{{category}}",
                    color: "{{color}}",
                }
                i++;
            {{/each}}


            let main_img = document.querySelectorAll(".main .initial img");
            let main_titles = document.querySelectorAll(".initial .all_titles p");
            let all_categories = document.querySelectorAll(".initial .all_categories")
            let art_links = document.querySelectorAll(".initial .art_link");
            let img_links = document.querySelectorAll(".initial .img_link");
            let favourite_buttons = document.querySelectorAll(".initial .favourite");
            let like_buttons = document.querySelectorAll(".initial .like");
            let counter_spans = document.querySelectorAll(".initial .like_counter");
            

            for(let i=0;i<main_img.length;i++){
                if (i<4){
                    main_img[i].src = "/img/"+all_events[i].image;
                    main_titles[i].textContent = all_events[i].title;
                    all_categories[i].textContent = all_events[i].category;
                    all_categories[i].style.borderBottom = "3px solid "+ all_events[i].color;
                    all_categories[i].href = "/category/"+all_events[i].category;
                    art_links[i].href = "/articles/"+all_events[i].event_id;

                    
                }
                else{
                    main_img[i].src = "/img/"+all_events[i-4].image;
                    main_titles[i].textContent = all_events[i-4].title;
                    all_categories[i].textContent = all_events[i-4].category;
                    all_categories[i].style.borderBottom = "3px solid "+ all_events[i-4].color;
                    all_categories[i].href = "/category/"+all_events[i-4].category;
                    art_links[i].href = "/articles/"+all_events[i-4].event_id;
                    
                }
                
            }

            for(let i=0;i<img_links.length;i++){
                img_links[i].href = "/articles/"+all_events[i].event_id;
            }
            
            for(let i=0;i<favourite_buttons.length;i++){
                favourite_buttons[i].setAttribute("event-id",all_events[i].event_id);
                favourite_buttons[i].setAttribute("data-toggle","tooltip");
                favourite_buttons[i].setAttribute("title","Προσθήκη στα Αγαπημένα")
                like_buttons[i].setAttribute("data-toggle","tooltip");
                like_buttons[i].setAttribute("title","Ενδιαφέρομαι για αυτή την Εκδήλωση")
                like_buttons[i].setAttribute("event-id",all_events[i].event_id);
                counter_spans[i].setAttribute("event-id",all_events[i].event_id);
            }

 
        </script>

        {{!-- ΠΕΡΙΣΤΡΟΦΗ ΤΩΝ ΠΑΝΩ ΕΙΚΟΝΩΝ --}}
        <script src="/js/rotate.js"></script>

        {{!-- ΑΛΛΕΣ ΕΚΔΗΛΩΣΕΙΣ --}}
        <script>
            let other_art = document.querySelector(".other_art");
            let button = document.querySelector(".all_articles")
            let all = function(){
                if(other_art.style.display=="none"){
                    other_art.style.display = "block";
                }
                else{
                    other_art.style.display = "none";
                }
            }
            button.addEventListener("click",all);
        </script>

        
        

        


        
